.search-field{
    background-color: #e5e5e5;
    .search-input{
        position: relative;
        padding: 0.3em 0.5em;
        .search-ic{
            position: absolute;
            pointer-events: none;
            font-size: 0.8em;
            display: flex;
            align-items: center;
            top: 1em;
            left: 1.2em;
        }
        input{
            padding-left: 1.8em;
            background-color: unset;
            border:0;
            width: 100%;
            border-radius: 3em;
            background-color: rgb(210, 210, 210);
            transition: 0.3s background-color;
            &:focus{
                outline: none;
                background-color: #fff;
            }
        }
    }
}